.heimage img {
    filter: grayscale(100%);
    cursor: pointer;
    transition: all;
    transition: all .5s ease-in-out;
    border: 2px solid transparent;
}

.heimage img:hover {
    filter: grayscale(0);
    border: 2px solid #fff;
    transform: scale(0.92);
}